:root {
  --color-black: #000000;
  --color-white: #ffffff;
  --color-primary: #0b3e26;
  --color-primary-alpha-60: #0b3e2699;
  --color-secondary: #2a2f2d;
  --color-alt: #cdc0ad;
  --color-accent: #ff4a04;
  --color-accent-dark: #f14300;
  --color-bg: #f9f9f9;
  --color-red: #ed0000;
  --font-primary: "Inter", sans-serif;
}

@font-face {
  font-family: "Inter";
  src: url("../fonts/Inter-Regular.woff") format("woff"), url("../fonts/Inter-Regular.woff2") format("woff2");
  font-style: normal;
  font-weight: 400;
}
@font-face {
  font-family: "Inter";
  src: url("../fonts/Inter-Medium.woff") format("woff"), url("../fonts/Inter-Medium.woff2") format("woff2");
  font-style: normal;
  font-weight: 500;
}
*,
html {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

ul {
  padding: 0;
  margin: 0;
  list-style: none;
}

a {
  color: unset;
  text-decoration: none;
}

img {
  display: block;
  max-width: 100%;
}

body {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background-color: var(--color-bg);
  font-family: var(--font-primary);
  font-size: 16px;
  line-height: 1.3;
  font-weight: 400;
  color: var(--color-primary);
}

main {
  flex-grow: 1;
}

img {
  max-width: 100%;
}

.container {
  max-width: 1920px;
  width: 100%;
  margin: 0 auto;
  padding: 0 16px;
}
@media screen and (max-width: 767.98px) {
  .container {
    padding: 0 10px;
  }
}

.h1 {
  font-family: var(--font-primary);
  font-size: 45px;
  line-height: 1.11;
  font-weight: 500;
  text-transform: uppercase;
}
@media screen and (max-width: 1279.98px) {
  .h1 {
    font-size: 40px;
  }
}
@media screen and (max-width: 767.98px) {
  .h1 {
    font-size: 36px;
  }
}

.h2 {
  font-family: var(--font-primary);
  font-size: 36px;
  line-height: 110%;
  font-weight: 500;
}
@media screen and (max-width: 1023.98px) {
  .h2 {
    font-size: 32px;
  }
}
@media screen and (max-width: 767.98px) {
  .h2 {
    font-size: 28px;
  }
}

.caption {
  position: relative;
  padding-left: 20px;
  font-size: 14px;
  line-height: 1.1;
  color: var(--color-secondary);
  text-transform: uppercase;
  opacity: 0.5;
}
@media screen and (max-width: 767.98px) {
  .caption {
    font-size: 12px;
  }
}
.caption::before {
  content: "";
  width: 3px;
  height: 3px;
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  border-radius: 50%;
  background-color: currentColor;
}

.section {
  padding: 110px 0;
}
.section + .section {
  padding-top: 0;
}
@media screen and (max-width: 1439.98px) {
  .section {
    padding: 80px 0;
  }
}
@media screen and (max-width: 1023.98px) {
  .section {
    padding: 40px 0;
  }
}

.reset-btn {
  padding: 0;
  border: 0;
  outline: none;
  color: unset;
  background-color: transparent;
}

.hover-accent {
  transition: color 0.25s ease-in-out;
}
@media (any-hover: hover) {
  .hover-accent:hover {
    color: var(--color-accent);
  }
}

.btn {
  width: auto;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
  padding: 15px 23px;
  color: var(--color-white);
  background-color: var(--color-accent);
  font-family: inherit;
  font-size: 13px;
  line-height: 1;
  font-weight: 500;
  text-transform: uppercase;
  border: 1px solid transparent;
  outline: none;
  cursor: pointer;
  transition: border-color 0.25s ease-in-out, background-color 0.25s ease-in-out, color 0.25s ease-in-out;
  border-radius: 8px;
}
.btn:hover {
  background-color: var(--color-accent-dark);
  border-color: var(--color-accent-dark);
  color: var(--color-white);
}
.btn_wide {
  width: 100%;
}
.btn_outline {
  background-color: transparent;
  color: var(--color-accent);
  border-color: var(--color-accent);
}
.btn_outline:hover {
  background-color: var(--color-accent);
  border-color: var(--color-accent);
  color: var(--color-white);
}
.btn_white {
  background-color: var(--color-white);
  color: var(--color-primary);
  border-color: var(--color-white);
}
.btn_grey {
  background-color: var(--color-bg);
  border-color: transparent;
  color: var(--color-primary);
}

.form-group {
  position: relative;
  width: 100%;
}
.form-group.is-error .form-error {
  display: block;
}
.form-group.is-error .form-file {
  border-color: var(--color-red);
}
.form-group.is-error .form-control {
  border-color: var(--color-red);
}

.form-error {
  display: none;
  font-size: 10px;
  line-height: 1.25;
  color: var(--color-red);
  padding-top: 4px;
}

.form-label {
  position: absolute;
  top: 18px;
  left: 18px;
  font-size: 12px;
  line-height: 1.25;
  color: var(--color-primary-alpha-60);
}
.form-label span {
  color: var(--color-red);
}

.form-row {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 8px;
}
@media screen and (max-width: 767.98px) {
  .form-row {
    grid-template-columns: 100%;
  }
}

.form-control {
  display: block;
  width: 100%;
  padding: 20px 24px;
  height: 52px;
  font-size: 16px;
  line-height: 1.2;
  color: var(--color-black);
  background-color: var(--color-bg);
  backdrop-filter: blur(10px);
  border: 1px solid transparent;
  border-radius: 8px;
  outline: none;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  transition: background-color 0.25s ease-in-out, border-color 0.25s ease-in-out;
}
.form-control:focus ~ .form-label, .form-control:focus-visible ~ .form-label {
  opacity: 0;
}
.form-control:not(:-moz-placeholder) ~ .form-label {
  opacity: 0;
}
.form-control:not(:placeholder-shown) ~ .form-label {
  opacity: 0;
}
.form-control.is-error {
  border-color: var(--color-red);
}

textarea.form-control {
  height: 98px;
}

.form-file {
  width: 100%;
  display: block;
  cursor: pointer;
  padding: 16px;
  border: 1px dashed rgba(11, 62, 38, 0.1019607843);
  border-radius: 8px;
}
.form-file__input {
  position: absolute;
  opacity: 0;
  visibility: hidden;
}
.form-file__label {
  font-size: 14px;
  line-height: 1.25;
  margin-bottom: 8px;
}
.form-file__label span {
  color: var(--color-red);
}
.form-file__control {
  display: flex;
  align-items: center;
  gap: 8px;
}
.form-file__control-btn {
  padding: 10px;
  font-size: 14px;
  line-height: 1.25;
  background-color: var(--color-bg);
  color: var(--color-primary);
  border-radius: 4px;
}
.form-file__control-file {
  font-size: 14px;
  line-height: 1.25;
  color: var(--color-primary);
}
.form-file__tip {
  font-size: 12px;
  line-height: 1.3;
  color: rgba(11, 62, 38, 0.5019607843);
  margin-top: 10px;
}

.form-checkbox {
  position: relative;
  display: flex;
  align-items: flex-start;
  gap: 8px;
  cursor: pointer;
}
.form-checkbox.is-error i {
  border-color: var(--color-red);
}
.form-checkbox.is-error span {
  color: var(--color-red);
}
.form-checkbox input {
  position: absolute;
  opacity: 0;
  visibility: hidden;
}
.form-checkbox input:checked ~ i::before {
  opacity: 1;
}
.form-checkbox i {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 18px;
  height: 18px;
  border: 1px solid var(--color-accent);
  color: var(--color-accent);
  border-radius: 3px;
  flex-shrink: 0;
}
.form-checkbox i::before {
  content: "";
  display: block;
  width: 16px;
  height: 16px;
  background: url("../images/icons/checked.svg") center center/16px no-repeat;
  opacity: 0;
}
.form-checkbox span {
  font-size: 12px;
  line-height: 1.3;
}
.form-checkbox span a {
  text-decoration: underline;
}

.header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  padding: 8px 0;
  z-index: 10;
}
.header__inner {
  padding: 0 24px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 16px;
}
@media screen and (max-width: 1199.98px) {
  .header__inner {
    position: relative;
    padding: 0 14px;
  }
}
.header__logo {
  display: block;
  width: 150px;
}
@media screen and (max-width: 1199.98px) {
  .header__menu {
    position: fixed;
    inset: 0;
    width: 100%;
    height: 100dvh;
    padding: 0 10px 10px;
    z-index: 10;
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
  }
  .header__menu.is-open {
    opacity: 1;
    visibility: visible;
    pointer-events: all;
  }
  .header__menu.is-open .header__menu-inner {
    transform: translateY(0);
  }
}
@media screen and (max-width: 1199.98px) {
  .header__menu-overlay {
    position: absolute;
    inset: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(2, 32, 18, 0.4);
    backdrop-filter: blur(20px);
    z-index: 1;
  }
}
@media screen and (max-width: 1199.98px) {
  .header__menu-inner {
    position: relative;
    width: 100%;
    max-height: 100%;
    background-color: var(--color-white);
    border-radius: 0 0 16px 16px;
    padding: 8px 16px 16px 16px;
    z-index: 2;
    transform: translateY(-100%);
    transition: transform 0.4s ease-in-out;
  }
}
.header__top {
  display: none;
}
@media screen and (max-width: 1199.98px) {
  .header__top {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 32px;
  }
}
.header__contacts {
  display: none;
}
@media screen and (max-width: 1199.98px) {
  .header__contacts {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 16px;
    padding-top: 24px;
    margin-top: 24px;
    border-top: 1px solid rgba(11, 62, 38, 0.0588235294);
  }
}
.header__close-btn {
  position: relative;
  display: block;
  width: 50px;
  height: 50px;
  background-color: var(--color-bg);
  border-radius: 8px;
}
.header__contact-label {
  font-size: 12px;
  opacity: 0.5;
  margin-bottom: 4px;
}
.header__contact-link {
  font-size: 14px;
}
.header__btn {
  display: none;
}
@media screen and (max-width: 1199.98px) {
  .header__btn {
    display: flex;
    justify-content: space-between;
    margin-top: 32px;
  }
}
.header__nav-list {
  display: flex;
  align-items: center;
  gap: 24px;
}
@media screen and (max-width: 1199.98px) {
  .header__nav-list {
    flex-direction: column;
    align-items: flex-start;
    gap: 12px;
  }
}
.header__nav-link {
  font-size: 13px;
  line-height: 1.2;
  text-transform: uppercase;
}
@media screen and (max-width: 1199.98px) {
  .header__contact-us {
    margin-left: auto;
  }
}
@media screen and (max-width: 767.98px) {
  .header__contact-us {
    display: none;
  }
}
.header__burger {
  display: none;
}
@media screen and (max-width: 1199.98px) {
  .header__burger {
    position: relative;
    display: block;
    width: 50px;
    height: 50px;
    background-color: var(--color-accent);
    border-radius: 8px;
  }
  .header__burger span {
    position: absolute;
    display: block;
    width: 17px;
    height: 2px;
    position: absolute;
    left: 17px;
    background-color: var(--color-white);
  }
  .header__burger span:nth-of-type(1) {
    top: 20px;
  }
  .header__burger span:nth-of-type(2) {
    top: 25px;
  }
  .header__burger span:nth-of-type(3) {
    top: 30px;
  }
}
@media screen and (max-width: 767.98px) {
  .header__burger {
    background-color: var(--color-white);
  }
  .header__burger span {
    background-color: var(--color-primary);
  }
}

.hero {
  padding-bottom: 8px;
}
.hero__inner {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 24px;
  background-color: var(--color-white);
  height: 100vh;
  max-height: 870px;
  padding: 110px 24px 24px 24px;
  border-radius: 0 0 24px 24px;
  z-index: 2;
  overflow: hidden;
}
@media screen and (max-width: 1023.98px) {
  .hero__inner {
    height: auto;
    max-height: unset;
    padding-bottom: 300px;
  }
}
@media screen and (max-width: 767.98px) {
  .hero__inner {
    padding: 105px 14px 14px;
    gap: 0;
  }
}
.hero__bg {
  max-width: 990px;
  width: 50vw;
  position: absolute;
  bottom: 0;
  right: 8px;
  z-index: -1;
  pointer-events: none;
}
@media screen and (max-width: 1439.98px) {
  .hero__bg {
    max-width: 60vw;
  }
}
@media screen and (max-width: 767.98px) {
  .hero__bg {
    max-width: 700px;
    width: 700px;
    bottom: 0;
    left: 50%;
    transform: translateX(-38%);
  }
}
.hero__img {
  position: absolute;
  top: 200px;
  left: 0;
  max-width: 308px;
  z-index: -1;
}
@media screen and (max-width: 1439.98px) {
  .hero__img {
    max-width: 100px;
  }
}
@media screen and (max-width: 1023.98px) {
  .hero__img {
    display: none;
  }
}
@media screen and (max-width: 767.98px) {
  .hero__img {
    max-width: unset;
    display: block;
    inset: 0 0 auto auto;
  }
}
.hero__top {
  display: flex;
  align-items: flex-start;
  gap: 20px;
}
@media screen and (max-width: 1023.98px) {
  .hero__top {
    display: contents;
  }
}
.hero__benefits {
  max-width: 164px;
  display: flex;
  flex-direction: column;
  gap: 8px;
}
@media screen and (max-width: 1023.98px) {
  .hero__benefits {
    max-width: 500px;
    flex-direction: row;
  }
}
@media screen and (max-width: 767.98px) {
  .hero__benefits {
    display: none;
  }
}
.hero__benefit {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  background-color: var(--color-bg);
  padding: 16px;
  min-height: 90px;
  font-size: 12px;
  line-height: 1.25;
  border-radius: 12px;
}
.hero__bottom {
  margin-top: auto;
  display: flex;
  align-items: flex-end;
  gap: 50px;
}
@media screen and (max-width: 1439.98px) {
  .hero__bottom {
    gap: 24px;
  }
}
@media screen and (max-width: 1023.98px) {
  .hero__bottom {
    display: contents;
  }
}
.hero__actions {
  display: flex;
  align-items: center;
  gap: 8px;
}
@media screen and (max-width: 1023.98px) {
  .hero__actions {
    width: 100%;
    flex-direction: column;
    align-items: flex-start;
  }
}
@media screen and (max-width: 767.98px) {
  .hero__actions {
    flex-direction: row;
  }
}
@media screen and (max-width: 559.98px) {
  .hero__actions {
    flex-direction: column;
  }
}
.hero__actions .btn {
  display: flex;
  align-items: center;
  gap: 8px;
}
@media screen and (max-width: 767.98px) {
  .hero__actions .btn {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
}
@media screen and (max-width: 767.98px) {
  .hero__contact-btn {
    background-color: rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(20px);
    border: 1px solid rgba(255, 255, 255, 0.7);
  }
}
.hero__title {
  max-width: 430px;
}
@media screen and (max-width: 1023.98px) {
  .hero__title {
    max-width: 600px;
    order: -1;
  }
}
@media screen and (max-width: 767.98px) {
  .hero__title {
    margin-bottom: 10px;
  }
}
.hero__title span {
  color: var(--color-accent);
}
.hero__desc {
  max-width: 204px;
  font-size: 12px;
  line-height: 1.25;
}
@media screen and (max-width: 1023.98px) {
  .hero__desc {
    max-width: 300px;
  }
}
@media screen and (max-width: 767.98px) {
  .hero__desc {
    max-width: 240px;
    margin-bottom: 460px;
  }
}

.about-us__inner {
  padding: 70px 22px;
  background: url("../images/about-us-bg.png") center center/cover no-repeat;
  border-radius: 16px;
  overflow: hidden;
}
@media screen and (max-width: 767.98px) {
  .about-us__inner {
    padding: 40px 14px 40px;
    background-image: url("../images/about-us-bg-mob.png");
  }
}
.about-us__head {
  display: flex;
  justify-content: center;
  margin-bottom: 40px;
}
@media screen and (max-width: 767.98px) {
  .about-us__head {
    margin-bottom: 36px;
  }
}
.about-us__caption {
  color: rgba(255, 255, 255, 0.7);
}
.about-us__benefits {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 16px;
}
@media screen and (max-width: 1199.98px) {
  .about-us__benefits {
    grid-template-columns: repeat(2, 1fr);
    gap: 8px;
  }
}
.about-us__benefit {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 19px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  background-color: rgba(249, 249, 249, 0.08);
  backdrop-filter: blur(20px);
  border-radius: 16px;
  color: var(--color-white);
  min-height: 200px;
}
@media screen and (max-width: 767.98px) {
  .about-us__benefit {
    min-height: 144px;
    padding: 13px;
    border-radius: 10px;
  }
}
.about-us__benefit-title {
  font-size: 15px;
  line-height: 1.2;
}
@media screen and (max-width: 767.98px) {
  .about-us__benefit-title {
    font-size: 10px;
  }
}
.about-us__benefit-title span {
  display: block;
  font-size: 48px;
  font-weight: 500;
  margin-bottom: 5px;
}
@media screen and (max-width: 767.98px) {
  .about-us__benefit-title span {
    font-size: 36px;
    margin-bottom: 2px;
  }
}
.about-us__benefit-desc {
  font-size: 13px;
  line-height: 1.3;
  margin-top: auto;
}
@media screen and (max-width: 767.98px) {
  .about-us__benefit-desc {
    font-size: 12px;
  }
}

.why-us__head {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 24px;
  margin-bottom: 40px;
}
@media screen and (max-width: 767.98px) {
  .why-us__head {
    gap: 14px;
    margin-bottom: 32px;
  }
}
.why-us__title {
  text-align: center;
  text-transform: uppercase;
}
.why-us__title span {
  color: var(--color-accent);
}
.why-us__desc {
  max-width: 750px;
  width: 100%;
  font-size: 16px;
  line-height: 1.34;
  text-align: center;
}
@media screen and (max-width: 767.98px) {
  .why-us__desc {
    font-size: 14px;
  }
}
.why-us__items {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 10px;
}
@media screen and (max-width: 1199.98px) {
  .why-us__items {
    grid-template-columns: repeat(3, 1fr);
  }
}
@media screen and (max-width: 767.98px) {
  .why-us__items {
    grid-template-columns: repeat(2, 1fr);
    gap: 6px;
  }
  .why-us__items.is-open .why-us__item {
    display: flex !important;
  }
}
.why-us__item {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 15px;
  padding: 15px;
  background-color: var(--color-white);
  border-radius: 12px;
}
@media screen and (max-width: 767.98px) {
  .why-us__item {
    display: none;
    padding: 12px;
    gap: 10px;
    border-radius: 10px;
  }
  .why-us__item:nth-child(-n+10) {
    display: flex;
  }
}
.why-us__item-icon {
  width: 52px;
  height: 52px;
}
@media screen and (max-width: 767.98px) {
  .why-us__item-icon {
    width: 46px;
    height: 46px;
  }
}
.why-us__item-title {
  font-size: 14px;
  text-align: center;
}
@media screen and (max-width: 767.98px) {
  .why-us__item-title {
    font-size: 12px;
  }
}
.why-us__show-more {
  display: none;
}
@media screen and (max-width: 767.98px) {
  .why-us__show-more {
    width: 100%;
    display: flex;
    margin-top: 6px;
    background-color: var(--color-white);
    border-radius: 8px;
    padding: 20px 24px;
    font-size: 14px;
    line-height: 1.3;
    text-transform: uppercase;
    font-weight: 500;
  }
}
.why-us__show-more-cover, .why-us__show-more-beside {
  width: 100%;
  align-items: center;
  justify-content: space-between;
}
.why-us__show-more-cover {
  display: flex;
}
.why-us__show-more-beside {
  display: none;
}
.why-us__show-more.is-active-cover {
  display: none;
}
.why-us__show-more.is-active-beside {
  display: flex;
}

.our-life {
  overflow: hidden;
}
.our-life__inner {
  position: relative;
}
@media screen and (max-width: 1023.98px) {
  .our-life__inner {
    display: flex;
    flex-direction: column;
  }
}
.our-life__head {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 24px;
  margin-bottom: 40px;
}
.our-life__title {
  text-transform: uppercase;
  text-align: center;
}
.our-life__img {
  display: block;
  width: 100%;
}
.our-life__img img {
  display: block;
  width: 100%;
  border-radius: 16px;
}
.our-life__slider-nav {
  position: absolute;
  top: 40px;
  right: 0;
  display: flex;
  align-items: center;
  gap: 10px;
}
@media screen and (max-width: 1023.98px) {
  .our-life__slider-nav {
    position: static;
    order: 99;
    margin-top: 10px;
  }
  .our-life__slider-nav .slider-nav-fraction {
    order: -1;
  }
  .our-life__slider-nav .slider-nav-prev {
    margin-left: auto;
  }
}

.slider-nav-fraction {
  font-size: 14px;
  line-height: 1.2;
}

.slider-nav-btn {
  width: 40px;
  height: 40px;
  flex-shrink: 0;
  background-color: var(--color-white);
  color: var(--color-primary);
  border-radius: 4px;
  cursor: pointer;
  transition: 0.25s ease-in-out;
}
@media (any-hover: hover) {
  .slider-nav-btn:hover {
    background-color: var(--color-accent);
    color: var(--color-white);
  }
}
.slider-nav-btn.swiper-button-disabled {
  pointer-events: none;
}
.slider-nav-btn.swiper-button-disabled svg {
  opacity: 0.3;
}

.vacancies {
  background: url("../images/vacancies/decor-left.png") top -140px left/auto no-repeat, url("../images/vacancies/decor-right.png") top -100px right/auto no-repeat;
}
@media screen and (max-width: 1279.98px) {
  .vacancies {
    background: url("../images/vacancies/decor-left-mob.png") top -120px left/auto no-repeat, url("../images/vacancies/decor-right-mob.png") top 0px right/auto no-repeat;
  }
}
.vacancies__head {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 24px;
  margin-bottom: 40px;
}
.vacancies__title {
  max-width: 950px;
  margin: 0 auto;
  text-transform: uppercase;
  text-align: center;
}
.vacancies__title span {
  color: var(--color-accent);
}
.vacancies__desc {
  max-width: 422px;
  text-align: center;
}
.vacancies__desc a {
  color: var(--color-accent);
  border-bottom: 1px solid currentColor;
  font-weight: 500;
}
.vacancies__tabs {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  margin-bottom: 24px;
}
@media screen and (max-width: 1023.98px) {
  .vacancies__tabs {
    justify-content: flex-start;
    gap: 8px;
    width: calc(100% + 28px);
    margin: 0 -14px 14px -14px;
    padding: 0 14px;
    overflow-x: auto;
  }
  .vacancies__tabs::-webkit-scrollbar {
    display: none;
  }
}
.vacancies__tabs-btn {
  display: inline-flex;
  align-items: center;
  gap: 4px;
  padding: 16px 22px 16px 30px;
  background-color: var(--color-white);
  font-family: inherit;
  font-size: 14px;
  line-height: 1.3;
  font-weight: 500;
  text-transform: uppercase;
  border-radius: 8px;
  flex-shrink: 0;
  cursor: pointer;
  transition: background-color 0.25s ease-in-out, color 0.25s ease-in-out;
}
.vacancies__tabs-btn.is-selected {
  background-color: var(--color-accent);
  color: var(--color-white);
}
@media (any-hover: hover) {
  .vacancies__tabs-btn.is-selected:hover {
    background-color: var(--color-accent-dark);
    color: var(--color-white);
  }
}
@media (any-hover: hover) {
  .vacancies__tabs-btn:hover {
    color: var(--color-accent);
  }
}
.vacancies__block {
  display: none;
}
.vacancies__block.is-selected {
  display: block;
}
.vacancies__list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;
}
@media screen and (max-width: 1023.98px) {
  .vacancies__list {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media screen and (max-width: 767.98px) {
  .vacancies__list {
    grid-template-columns: 100%;
    gap: 6px;
  }
}
.vacancies__item {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 24px;
  background-color: var(--color-white);
  border-radius: 12px;
}
@media screen and (max-width: 767.98px) {
  .vacancies__item {
    padding: 16px;
  }
}
.vacancies__item-title {
  font-size: 18px;
  line-height: 1.3;
  font-weight: 500;
  text-transform: uppercase;
  margin-bottom: 16px;
}
.vacancies__item-desc {
  font-size: 14px;
  color: rgba(11, 62, 38, 0.6);
  margin-bottom: 20px;
}
@media screen and (max-width: 767.98px) {
  .vacancies__item-desc {
    width: 100%;
    padding-bottom: 16px;
    margin-bottom: 16px;
    border-bottom: 1px solid rgba(11, 62, 38, 0.0588235294);
  }
}
.vacancies__item-desc span {
  display: block;
  margin-top: 6px;
}
.vacancies__item-link {
  font-size: 14px;
  line-height: 1.1;
  text-transform: uppercase;
  font-weight: 500;
  margin-top: auto;
  transition: color 0.25s ease-in-out;
}
@media (any-hover: hover) {
  .vacancies__item-link:hover {
    color: var(--color-accent);
  }
}

.bnr__inner {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  padding: 94px 24px;
  border-radius: 24px;
  color: var(--color-white);
  overflow: hidden;
  background: url("../../images/bnr/bnr.png") center center/cover no-repeat;
}
@media screen and (max-width: 767.98px) {
  .bnr__inner {
    padding: 60px 16px 16px;
    border-radius: 16px;
  }
}
.bnr__title {
  max-width: 960px;
  text-align: center;
  text-transform: uppercase;
  margin-bottom: 24px;
}
@media screen and (max-width: 767.98px) {
  .bnr__title {
    margin-bottom: 12px;
  }
}
.bnr__desc {
  max-width: 340px;
  text-align: center;
  font-size: 16px;
  line-height: 1.3;
  margin-bottom: 80px;
}
@media screen and (max-width: 767.98px) {
  .bnr__desc {
    max-width: 280px;
    margin-bottom: 88px;
    font-size: 14px;
  }
}
@media screen and (max-width: 767.98px) {
  .bnr__btn {
    width: 100%;
  }
}

.cta {
  padding: 140px 0 270px;
  background: url("../../images/cta/bg.png") center top/1880px no-repeat;
}
@media screen and (max-width: 1023.98px) {
  .cta {
    padding: 100px 0 140px;
    background: url("../../images/cta/bg.png") center top/1200px no-repeat;
  }
}
@media screen and (max-width: 767.98px) {
  .cta {
    padding: 75px 0 90px;
    background: url("../../images/cta/bg-mob.png") center top -150px/780px no-repeat;
  }
}
.cta__inner {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.cta__logo {
  max-width: 266px;
  display: block;
  margin-bottom: 54px;
}
@media screen and (max-width: 767.98px) {
  .cta__logo {
    max-width: 212px;
    margin-bottom: 36px;
  }
}
.cta__head {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 24px;
  margin-bottom: 32px;
}
@media screen and (max-width: 767.98px) {
  .cta__head {
    gap: 12px;
  }
}
.cta__title {
  max-width: 1080px;
  text-align: center;
  text-transform: uppercase;
}
.cta__link {
  font-size: 16px;
  line-height: 1.3;
  font-weight: 500;
  color: var(--color-accent);
}
@media screen and (max-width: 767.98px) {
  .cta__btn {
    width: 100%;
    justify-content: space-between;
  }
}

.employee {
  background: url("../images/employee/employee-decor-left.png") top -240px left/auto no-repeat, url("../images/employee/employee-decor-right.png") top -240px right/auto no-repeat;
}
@media screen and (max-width: 1023.98px) {
  .employee {
    background: url("../images/employee/employee-decor-left-mob.png") top -80px left/auto no-repeat, url("../images/employee/employee-decor-right-mob.png") top -80px right/auto no-repeat;
  }
}
@media screen and (max-width: 399.98px) {
  .employee {
    background: none;
  }
}
.employee__head {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 24px;
  margin-bottom: 40px;
}
@media screen and (max-width: 767.98px) {
  .employee__head {
    gap: 14px;
    margin-bottom: 32px;
  }
}
.employee__title {
  max-width: 640px;
  text-align: center;
  text-transform: uppercase;
}
.employee__title span {
  color: var(--color-accent);
}
.employee__desc {
  max-width: 640px;
  font-size: 16px;
  line-height: 1.3;
  text-align: center;
}
.employee__list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;
}
@media screen and (max-width: 767.98px) {
  .employee__list {
    grid-template-columns: 100%;
  }
}
.employee__item {
  position: relative;
  border-radius: 16px;
  overflow: hidden;
  background-color: var(--color-white);
}
@media screen and (max-width: 767.98px) {
  .employee__item {
    padding: 14px 14px 16px;
  }
  .employee__item.is-open .employee__item-head-btn {
    background-color: var(--color-bg);
    color: var(--color-primary);
  }
  .employee__item.is-open .employee__item-head-btn::after {
    mask: url("../../images/icons/minus.svg") center center/16px no-repeat;
    -webkit-mask: url("../../images/icons/minus.svg") center center/16px no-repeat;
  }
  .employee__item.is-open .employee__item-details {
    opacity: 1;
    visibility: visible;
    padding-top: 16px;
    transition: height 0.45s ease, padding-top 0.45s ease, opacity 0.3s ease, visibility 0s;
  }
}
@media screen and (min-width: 767.98px) and (any-hover: hover) {
  .employee__item:hover .employee__item-details {
    opacity: 1;
    visibility: visible;
  }
}
.employee__item-img {
  display: flex;
  align-items: flex-end;
  justify-content: center;
}
@media screen and (max-width: 767.98px) {
  .employee__item-img {
    width: 100%;
    height: 420px;
    border-radius: 12px;
    background: linear-gradient(180deg, #f9f9f9 0%, #f3f3f3 100%);
  }
  .employee__item-img img {
    display: block;
    -o-object-fit: cover;
       object-fit: cover;
    width: 100%;
    height: 100%;
    -o-object-position: top;
       object-position: top;
  }
}
.employee__item-cover {
  position: relative;
  width: 100%;
}
.employee__item-more-info {
  position: absolute;
  bottom: 30px;
  left: 30px;
}
@media screen and (max-width: 767.98px) {
  .employee__item-more-info {
    display: none;
  }
}
.employee__item-details {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  position: absolute;
  inset: 0;
  background-color: var(--color-white);
  padding: 32px 30px 30px;
  opacity: 0;
  visibility: hidden;
  transition: all 0.4s ease-in-out;
}
@media screen and (max-width: 767.98px) {
  .employee__item-details {
    position: static;
    display: flex;
    height: 0;
    overflow: hidden;
    padding: 0;
    opacity: 0;
    visibility: hidden;
    transition: height 0.45s ease, padding-top 0.45s ease, opacity 0.3s ease, visibility 0s linear 0.45s;
  }
}
.employee__item-details-head {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
@media screen and (max-width: 767.98px) {
  .employee__item-details-head {
    display: none;
  }
}
.employee__item-details-subtitle {
  display: none;
}
@media screen and (max-width: 767.98px) {
  .employee__item-details-subtitle {
    display: block;
    font-size: 14px;
    line-height: 1.3;
    color: rgba(11, 62, 38, 0.6);
    margin-bottom: 16px;
  }
}
.employee__item-details-title {
  font-size: 24px;
  line-height: 1.3;
  font-weight: 500;
  text-transform: uppercase;
  margin-bottom: 10px;
}
.employee__item-details-post {
  font-size: 14px;
  line-height: 1.3;
  color: rgba(11, 62, 38, 0.6);
  max-width: 210px;
}
.employee__item-details-quote {
  font-size: 16px;
  line-height: 1.3;
  font-weight: 500;
  font-style: italic;
  margin-top: auto;
  margin-bottom: 20px;
}
@media screen and (max-width: 767.98px) {
  .employee__item-details-quote {
    display: none;
  }
}
.employee__item-details-desc {
  font-size: 14px;
  line-height: 1.3;
  max-height: 50%;
  overflow: hidden;
}
@media screen and (max-width: 767.98px) {
  .employee__item-details-desc {
    overflow: unset;
  }
}
.employee__item-details-desc p:not(:last-of-type) {
  margin-bottom: 16px;
}
.employee__item-details-btn {
  margin-top: 40px;
}
@media screen and (max-width: 767.98px) {
  .employee__item-details-btn {
    display: none;
  }
}
.employee__item-details-collapse-btn {
  display: none;
}
@media screen and (max-width: 767.98px) {
  .employee__item-details-collapse-btn {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-family: inherit;
    font-size: 14px;
    line-height: 1.2;
    font-weight: 500;
    text-transform: uppercase;
    justify-content: space-between;
    padding-top: 16px;
    margin-top: 16px;
    border-top: 1px solid rgba(11, 62, 38, 0.0588235294);
  }
}
.employee__item-head {
  display: none;
}
@media screen and (max-width: 767.98px) {
  .employee__item-head {
    display: block;
    margin-top: 16px;
  }
}
.employee__item-head-title {
  font-size: 20px;
  line-height: 1.3;
  text-transform: uppercase;
  font-weight: 500;
  margin-bottom: 4px;
}
.employee__item-head-post {
  font-size: 14px;
  opacity: 0.6;
  margin-bottom: 16px;
}
.employee__item-head-desc {
  padding: 6px 12px 6px 10px;
  margin-bottom: 16px;
  font-size: 14px;
  line-height: 1.2;
  font-weight: 500;
  font-style: italic;
  border-left: 2px solid var(--color-accent);
}
.employee__item-head-btn {
  width: 100%;
  display: inline-flex;
  align-items: center;
  justify-content: space-between;
  gap: 8px;
  padding: 15px 23px;
  color: var(--color-white);
  background-color: var(--color-accent);
  font-family: inherit;
  font-size: 12px;
  line-height: 1;
  font-weight: 500;
  text-transform: uppercase;
  border: 1px solid var(--color-accent);
  outline: none;
  cursor: pointer;
  border-radius: 8px;
}
.employee__item-head-btn::after {
  content: "";
  width: 16px;
  height: 16px;
  mask: url("../../images/icons/arrow-right.svg") center center/16px no-repeat;
  -webkit-mask: url("../../images/icons/arrow-right.svg") center center/16px no-repeat;
  background-color: currentColor;
}
.employee__blocks {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 10px;
  margin-top: 10px;
}
@media screen and (max-width: 767.98px) {
  .employee__blocks {
    grid-template-columns: 100%;
    gap: 16px;
    padding: 12px;
    background-color: var(--color-white);
    border-radius: 16px;
  }
}
.employee__block {
  padding: 30px;
  background-color: var(--color-white);
  border-radius: 16px;
}
@media screen and (max-width: 767.98px) {
  .employee__block {
    border-radius: 0;
    padding: 0;
  }
}
.employee__block-title {
  font-size: 32px;
  line-height: 1.2;
  font-weight: 500;
  text-transform: uppercase;
}
@media screen and (max-width: 767.98px) {
  .employee__block-title {
    font-size: 24px;
  }
}
.employee__block-title span {
  color: var(--color-accent);
}
.employee__block-subtitle {
  font-size: 22px;
  line-height: 1.5;
  font-weight: 500;
  text-transform: uppercase;
  margin-bottom: 32px;
}
@media screen and (max-width: 767.98px) {
  .employee__block-subtitle {
    font-size: 16px;
    margin-bottom: 24px;
  }
}
@media screen and (max-width: 767.98px) {
  .employee__block-btn {
    width: 100%;
    justify-content: space-between;
  }
}

.footer__inner {
  padding: 24px 30px;
  background: url("../../images/footer-bg.png") center center/cover no-repeat;
  border-radius: 16px 16px 0 0;
  color: var(--color-white);
}
@media screen and (max-width: 767.98px) {
  .footer__inner {
    padding: 24px 20px 20px;
    background-image: url("../../images/footer-bg-mob.png");
  }
}
.footer__main {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  gap: 24px;
}
@media screen and (max-width: 1279.98px) {
  .footer__main {
    flex-wrap: wrap;
  }
}
@media screen and (max-width: 767.98px) {
  .footer__main {
    flex-direction: column;
    gap: 0;
  }
}
.footer__company {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 20px;
}
@media screen and (max-width: 767.98px) {
  .footer__company {
    width: 100%;
    gap: 16px;
    margin-bottom: 32px;
  }
}
.footer__desc {
  max-width: 210px;
  font-size: 14px;
}
.footer__desc a {
  text-decoration: underline;
}
.footer__logo {
  display: block;
  width: 200px;
}
.footer__nav {
  padding-top: 24px;
}
@media screen and (max-width: 1279.98px) {
  .footer__nav {
    width: 100%;
    order: 99;
  }
}
@media screen and (max-width: 767.98px) {
  .footer__nav {
    padding-bottom: 24px;
    margin-bottom: 24px;
    padding-top: 0;
    border-bottom: 1px solid rgba(255, 255, 255, 0.3);
  }
}
.footer__nav-list {
  display: flex;
  align-items: center;
  gap: 24px;
}
@media screen and (max-width: 767.98px) {
  .footer__nav-list {
    display: block;
    -moz-column-count: 2;
         column-count: 2;
  }
}
.footer__nav-link {
  font-size: 14px;
  text-transform: uppercase;
}
@media screen and (max-width: 767.98px) {
  .footer__nav-item {
    margin-bottom: 10px;
  }
}
.footer__contacts {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  gap: 24px;
  padding-top: 24px;
}
@media screen and (max-width: 767.98px) {
  .footer__contacts {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 30px;
    padding-top: 0;
    padding-bottom: 24px;
    margin-bottom: 24px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.3);
  }
}
.footer__contact {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  gap: 4px;
}
@media screen and (max-width: 767.98px) {
  .footer__contact {
    align-items: flex-start;
  }
}
.footer__contact-label {
  font-size: 12px;
  opacity: 0.5;
}
.footer__contact-link {
  font-size: 16px;
}
@media screen and (max-width: 767.98px) {
  .footer__contact-link {
    font-size: 14px;
  }
}
.footer__bottom {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 16px;
  margin-top: 100px;
}
@media screen and (max-width: 1279.98px) {
  .footer__bottom {
    flex-wrap: wrap;
  }
}
@media screen and (max-width: 767.98px) {
  .footer__bottom {
    flex-direction: column;
    align-items: flex-start;
    gap: 0;
    margin-top: 0;
  }
}
.footer__links {
  display: flex;
  align-items: center;
  gap: 8px;
  flex-wrap: wrap;
}
@media screen and (max-width: 1279.98px) {
  .footer__links {
    width: 100%;
    order: 99;
  }
}
@media screen and (max-width: 767.98px) {
  .footer__links {
    order: -1;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 30px;
    padding-bottom: 24px;
    margin-bottom: 24px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.3);
  }
}
.footer__link {
  font-size: 14px;
  opacity: 0.6;
}
.footer__link:not(:last-child)::after {
  content: "|";
  padding-left: 8px;
}
@media screen and (max-width: 767.98px) {
  .footer__link:not(:last-child)::after {
    display: none;
  }
}
.footer__copyright, .footer__developr {
  font-size: 14px;
}
@media screen and (max-width: 767.98px) {
  .footer__developer {
    opacity: 0.6;
    margin-top: 4px;
  }
}

.popup {
  max-width: 762px;
  width: 100%;
  padding: 30px;
  color: var(--color-primary);
  background-color: var(--color-white);
  border-radius: 24px;
}
@media screen and (max-width: 767.98px) {
  .popup {
    padding: 12px 20px 20px;
    position: absolute;
    overflow-y: auto;
    inset: 0;
    width: 100%;
    height: 100dvh;
    border-radius: 0;
  }
  .popup::-webkit-scrollbar {
    display: none;
  }
}
.popup_xl {
  max-width: 1040px;
}
.popup .f-button.is-close-button {
  top: 20px;
  right: 20px;
  width: 24px;
  height: 24px;
}
@media screen and (max-width: 767.98px) {
  .popup .f-button.is-close-button {
    top: 12px;
    right: 20px;
    width: 50px;
    height: 50px;
    background-color: var(--color-bg);
    border-radius: 4px;
  }
}
.popup .f-button.is-close-button svg {
  color: var(--color-primary);
}
@media screen and (max-width: 767.98px) {
  .popup .f-button.is-close-button svg {
    width: 20px;
    height: 20px;
  }
}

.callback-popup__top {
  display: none;
}
@media screen and (max-width: 767.98px) {
  .callback-popup__top {
    display: flex;
    align-items: center;
    margin-bottom: 40px;
  }
}
.callback-popup__logo {
  display: block;
  width: 150px;
}
.callback-popup__nav {
  display: flex;
  align-items: center;
  gap: 8px;
  margin-bottom: 40px;
}
.callback-popup__nav-btn.is-selected {
  background-color: transparent;
  color: var(--color-accent);
  border-color: var(--color-accent);
}
@media screen and (max-width: 767.98px) {
  .callback-popup__nav-btn {
    padding: 12px 8px;
    gap: 4px;
    flex-grow: 1;
  }
}
.callback-popup__form {
  display: none;
}
.callback-popup__form.is-selected {
  display: block;
}
.callback-popup__head {
  max-width: 350px;
  margin-bottom: 24px;
}
@media screen and (max-width: 767.98px) {
  .callback-popup__head {
    max-width: 100%;
  }
}
.callback-popup__title {
  font-size: 32px;
  font-weight: 500;
  text-transform: uppercase;
  margin-bottom: 12px;
}
@media screen and (max-width: 767.98px) {
  .callback-popup__title {
    font-size: 28px;
  }
}
.callback-popup__desc {
  font-size: 14px;
  line-height: 1.25;
}
.callback-popup__inputs {
  display: flex;
  flex-direction: column;
  gap: 8px;
}
.callback-popup__agreement {
  max-width: 540px;
  width: 100%;
  margin-top: 10px;
}
@media screen and (max-width: 767.98px) {
  .callback-popup__agreement {
    margin-top: 12px;
  }
}
.callback-popup__bottom {
  display: flex;
  align-items: flex-start;
  gap: 24px;
  margin-top: 44px;
}
@media screen and (max-width: 767.98px) {
  .callback-popup__bottom {
    margin-top: 32px;
  }
}
@media screen and (max-width: 767.98px) {
  .callback-popup__bottom .btn {
    width: 100%;
    justify-content: space-between;
  }
}

.employee-popup__inner {
  display: flex;
  align-items: flex-start;
  gap: 32px;
}
.employee-popup__person {
  max-width: 288px;
  width: 100%;
  flex-shrink: 0;
}
.employee-popup__person-img {
  display: block;
  width: 100%;
  background: linear-gradient(180deg, #f9f9f9 0%, #f3f3f3 100%);
  border-radius: 16px;
  margin-bottom: 12px;
}
.employee-popup__person-name {
  font-size: 20px;
  line-height: 1.3;
  font-weight: 500;
  text-transform: uppercase;
  margin-bottom: 4px;
}
.employee-popup__person-post {
  font-size: 14px;
  line-height: 1.3;
  color: rgba(11, 62, 38, 0.6);
}
.employee-popup__info {
  flex-grow: 1;
}
.employee-popup__quote {
  padding-left: 20px;
  padding-right: 20px;
  margin-bottom: 20px;
  font-size: 20px;
  line-height: 1.3;
  font-weight: 500;
  font-style: italic;
  border-left: 4px solid var(--color-accent);
}
.employee-popup__desc {
  font-size: 16px;
  line-height: 1.3;
}
.employee-popup__desc p:not(:last-of-type) {
  margin-bottom: 16px;
}/*# sourceMappingURL=style.css.map */