:root {
  --color-black: #000000;
  --color-white: #ffffff;
  --color-primary: #0a2502;
  --color-alt: #cdc0ad;
  --color-accent: #4a7f12;
  --color-accent-100: #3e8a00;
  --color-bg: #fff4ee;
  --color-bg-footer: #d6c8b440;
  --color-error: #ff6111;
  --font-primary: "Inter Tight", sans-serif;
  --font-secondary: "PlayfairDisplay", sans-serif;
}

@font-face {
  font-family: "PlayfairDisplay";
  src: url("../fonts/PlayfairDisplay-MediumItalic.woff") format("woff"), url("../fonts/PlayfairDisplay-MediumItalic.woff2") format("woff2");
  font-style: italic;
  font-weight: 300;
}
@font-face {
  font-family: "Inter Tight";
  src: url("../fonts/InterTight-Light.woff") format("woff"), url("../fonts/InterTight-Light.woff2") format("woff2");
  font-style: normal;
  font-weight: 300;
}
@font-face {
  font-family: "Inter Tight";
  src: url("../fonts/InterTight-Regular.woff") format("woff"), url("../fonts/InterTight-Regular.woff2") format("woff2");
  font-style: normal;
  font-weight: 400;
}
@font-face {
  font-family: "Inter Tight";
  src: url("../fonts/InterTight-Medium.woff") format("woff"), url("../fonts/InterTight-Medium.woff2") format("woff2");
  font-style: normal;
  font-weight: 500;
}
@font-face {
  font-family: "Inter Tight";
  src: url("../fonts/InterTight-SemiBold.woff") format("woff"), url("../fonts/InterTight-SemiBold.woff2") format("woff2");
  font-style: normal;
  font-weight: 600;
}
*,
html {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

ul {
  padding: 0;
  margin: 0;
  list-style: none;
}

a {
  color: unset;
  text-decoration: none;
}

img {
  display: block;
  max-width: 100%;
}

body {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background-color: var(--color-bg);
  font-family: var(--font-primary);
  font-size: 16px;
  line-height: 120%;
  color: var(--color-primary);
}

main {
  flex-grow: 1;
}

.container {
  padding: 0 50px;
}
@media screen and (max-width: 1023.98px) {
  .container {
    padding: 0 20px;
  }
}

.h1 {
  font-size: 180px;
  line-height: 90%;
}
@media screen and (max-width: 1439.98px) {
  .h1 {
    font-size: 100px;
  }
}
@media screen and (max-width: 1023.98px) {
  .h1 {
    font-size: 80px;
  }
}
@media screen and (max-width: 767.98px) {
  .h1 {
    font-size: 40px;
  }
}

.h2 {
  font-family: var(--font-primary);
  font-size: 52px;
  line-height: 110%;
  font-weight: 500;
}
@media screen and (max-width: 1023.98px) {
  .h2 {
    font-size: 32px;
  }
}
@media screen and (max-width: 767.98px) {
  .h2 {
    font-size: 24px;
  }
}
.h2 span {
  font-family: var(--font-secondary);
  font-style: italic;
}

.btn {
  display: inline-block;
  width: auto;
  padding: 12px 24px;
  font-size: 16px;
  line-height: 1.25;
  text-align: center;
  color: var(--color-white);
  background: linear-gradient(87.99deg, #082702 0%, #408d01 100%);
  box-shadow: 0px 7px 13px 0px rgba(49, 76, 26, 0.2);
  border-radius: 40px;
  border: none;
  outline: none;
  cursor: pointer;
  transition: box-shadow 0.25s ease-in-out;
}
.btn:hover {
  box-shadow: none;
}

.form-group {
  position: relative;
  width: 100%;
}

.form-control {
  display: block;
  width: 100%;
  padding: 20px 24px;
  height: 52px;
  font-size: 16px;
  line-height: 1.2;
  color: var(--color-black);
  background-color: rgba(255, 255, 255, 0.1019607843);
  backdrop-filter: blur(10px);
  border: 1px solid var(--color-white);
  border-radius: 40px;
  outline: none;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  transition: background-color 0.25s ease-in-out, border-color 0.25s ease-in-out;
}
.form-control:focus ~ .form-label, .form-control:focus-visible ~ .form-label {
  opacity: 0;
}
.form-control:not(:-moz-placeholder) ~ .form-label {
  opacity: 0;
}
.form-control:not(:placeholder-shown) ~ .form-label {
  opacity: 0;
}
.form-control.is-error {
  border-color: var(--color-error);
}

.form-label {
  top: 18px;
  left: 24px;
  position: absolute;
  pointer-events: none;
  font-size: 16px;
  line-height: 1.2;
  color: var(--color-black);
}
.form-label span {
  color: var(--color-error);
}

.form-agreement {
  max-width: 270px;
  font-size: 12px;
  line-height: 1.2;
  color: rgba(103, 103, 103, 0.4705882353);
}

.header {
  position: absolute;
  padding: 32px 0;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 10;
}
.header__container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
@media screen and (max-width: 767.98px) {
  .header__nav {
    display: none;
  }
}
.header__nav-list {
  display: flex;
  align-items: center;
  gap: 80px;
}
@media screen and (max-width: 1439.98px) {
  .header__nav-list {
    gap: 24px;
  }
}
.header__nav-link {
  text-transform: uppercase;
}
@media (any-hover: hover) {
  .header__nav-link:hover {
    text-decoration: underline;
  }
}
.header__contacts {
  display: flex;
  align-items: center;
  gap: 20px;
}
@media screen and (max-width: 1023.98px) {
  .header__contacts {
    gap: 12px;
  }
}
.header__contacts-link {
  position: relative;
  background: transparent;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  box-shadow: 0px 7px 13px 0px rgba(49, 76, 26, 0.2);
  transform: box-shadow 0.25s ease-in-out;
}
@media (any-hover: hover) {
  .header__contacts-link:hover {
    box-shadow: none;
  }
}
.header__contacts-link::before {
  content: "";
  position: absolute;
  inset: 0;
  padding: 1px;
  border-radius: inherit;
  background: linear-gradient(180deg, #082702 0%, #408d01 100%);
  -webkit-mask: linear-gradient(#fff 0 0) content-box, linear-gradient(#fff 0 0);
  -webkit-mask-composite: xor;
  mask-composite: exclude;
  pointer-events: none;
}
.header__burger {
  display: none;
}
@media screen and (max-width: 767.98px) {
  .header__burger {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 44px;
    height: 44px;
    border: 1px solid var(--color-accent);
    background-color: transparent;
    color: unset;
    border-radius: 50%;
  }
}

.footer {
  padding: 60px 0;
}
@media screen and (max-width: 1023.98px) {
  .footer {
    padding: 40px 0;
  }
}
.footer__inner {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 16px;
  padding: 16px 24px;
  background-color: rgba(214, 200, 180, 0.2509803922);
  backdrop-filter: blur(20px);
  border-radius: 40px;
}
@media screen and (max-width: 1023.98px) {
  .footer__inner {
    flex-direction: column;
    border-radius: 16px;
  }
}
.footer__logo, .footer__link {
  color: var(--color-accent);
}
.footer__link {
  text-align: center;
  text-decoration: underline;
}
@media (any-hover: hover) {
  .footer__link:hover {
    text-decoration: none;
  }
}

.hero {
  position: relative;
  height: 100vh;
  max-height: 750px;
  box-shadow: 0px 32px 40px 0px rgba(49, 76, 26, 0.2);
}
@media screen and (max-width: 1023.98px) {
  .hero {
    max-height: 900px;
  }
}
.hero__img {
  display: block;
  width: 100%;
  height: 100%;
  position: absolute;
  inset: 0;
  z-index: -1;
}
.hero__img img {
  display: block;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: top;
     object-position: top;
}
@media screen and (max-width: 767.98px) {
  .hero__img img {
    -o-object-position: bottom;
       object-position: bottom;
  }
}
.hero__inner {
  padding: 162px 0 100px;
}
.hero__head {
  display: flex;
  align-items: center;
  gap: 32px;
  margin-bottom: 90px;
}
@media screen and (max-width: 1023.98px) {
  .hero__head {
    flex-direction: column;
    align-items: flex-start;
    margin-bottom: 40px;
    gap: 24px;
  }
}
.hero__title {
  line-height: 0.8;
  color: var(--color-alt);
}
.hero__desc {
  color: var(--color-primary);
  max-width: 290px;
}
.hero__btn {
  width: 235px;
}
@media sceen and (max-width: 767.98px) {
  .hero__btn {
    width: 100%;
  }
}

.benefits {
  position: relative;
  padding: 120px 0;
  overflow: hidden;
}
@media screen and (max-width: 1023.98px) {
  .benefits {
    padding: 100px 0;
  }
}
@media screen and (max-width: 767.98px) {
  .benefits {
    padding: 80px 0 100px;
  }
}
.benefits__img {
  position: absolute;
  top: 80px;
  right: 10%;
  z-index: -1;
}
@media screen and (max-width: 1023.98px) {
  .benefits__img {
    max-width: 200px;
    top: 120px;
    bottom: 0;
  }
}
@media screen and (max-width: 767.98px) {
  .benefits__img {
    top: auto;
    right: -50px;
    bottom: 20px;
  }
}
.benefits__title {
  margin-bottom: 50px;
}
@media screen and (max-width: 767.98px) {
  .benefits__title {
    margin-bottom: 24px;
  }
}
.benefits__title span {
  color: var(--color-accent);
}
.benefits__items {
  max-width: 1448px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 16px;
}
@media screen and (max-width: 1023.98px) {
  .benefits__items {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media screen and (max-width: 767.98px) {
  .benefits__items {
    grid-template-columns: 100%;
  }
}
.benefits__item {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 16px;
  padding: 20px 24px 20px 20px;
  color: var(--color-black);
  background-color: rgba(245, 235, 229, 0.2);
  backdrop-filter: blur(5px);
  border: 1px solid var(--color-white);
}
@media screen and (max-width: 767.98px) {
  .benefits__item {
    padding: 19px;
  }
}
.benefits__item-icon {
  width: 30px;
  height: 30px;
}
.benefits__item-title {
  font-size: 20px;
  line-height: 1;
  font-weight: 600;
}
.benefits__item-desc {
  max-width: 290px;
  line-height: 1.2;
}

.bnr {
  position: relative;
}
@media screen and (max-width: 767.98px) {
  .bnr {
    border-radius: 24px;
    overflow: hidden;
    z-index: 2;
  }
}
.bnr__img {
  display: block;
  width: 100%;
  height: 100%;
  position: absolute;
  inset: 0;
  z-index: -1;
}
.bnr__img img {
  display: block;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.bnr__inner .container {
  display: grid;
  grid-template-columns: 1.4fr 2fr;
}
@media screen and (max-width: 767.98px) {
  .bnr__inner .container {
    grid-template-columns: 100%;
    padding: 0;
  }
}
.bnr__info {
  position: relative;
  padding: 96px 0 96px 40px;
}
@media screen and (max-width: 767.98px) {
  .bnr__info {
    padding: 0 20px 200px 20px;
  }
}
.bnr__info::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 40px;
  height: 40px;
  background: url("../images/icons/corner-top-left.svg") top left/40px no-repeat;
}
.bnr__info::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 40px;
  height: 40px;
  background: url("../images/icons/corner-bottom-left.svg") top left/40px no-repeat;
}
@media screen and (max-width: 767.98px) {
  .bnr__info::after, .bnr__info::before {
    display: none;
  }
}
.bnr__desc {
  max-width: 300px;
  color: var(--color-white);
}
.bnr__desc p:not(:last-of-type) {
  margin-bottom: 32px;
}
.bnr__head {
  position: relative;
  padding: 96px 0;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 80px;
}
@media screen and (max-width: 767.98px) {
  .bnr__head {
    gap: 24px;
    padding: 40px 20px 40px 20px;
  }
}
.bnr__head::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  width: 40px;
  height: 40px;
  background: url("../images/icons/corner-top-right.svg") top left/40px no-repeat;
}
.bnr__head::after {
  content: "";
  position: absolute;
  bottom: 0;
  right: 0;
  width: 40px;
  height: 40px;
  background: url("../images/icons/corner-bottom-right.svg") top left/40px no-repeat;
}
@media screen and (max-width: 767.98px) {
  .bnr__head::after, .bnr__head::before {
    display: none;
  }
}
.bnr__btn {
  width: 235px;
}
.bnr__title {
  color: var(--color-white);
}
.bnr__title span {
  color: var(--color-accent-100);
}

.feedback {
  position: relative;
  padding-top: 130px;
}
@media screen and (max-width: 1023.98px) {
  .feedback {
    padding: 80px 0;
  }
}
@media screen and (max-width: 767.98px) {
  .feedback {
    padding: 100px 0 80px;
    margin-top: -20px;
    z-index: 1;
  }
}
.feedback__img {
  position: absolute;
  inset: 0;
  display: block;
  width: 100%;
  height: 100%;
  z-index: -1;
}
.feedback__img img {
  display: block;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.feedback__inner {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 80px;
}
@media screen and (max-width: 1023.98px) {
  .feedback__inner {
    display: flex;
    flex-direction: column;
    gap: 24px;
  }
}
.feedback__title {
  margin-bottom: 50px;
}
.feedback__title span {
  color: var(--color-accent);
}
@media screen and (max-width: 1023.98px) {
  .feedback__title {
    margin-bottom: 40px;
  }
}
@media screen and (max-width: 1023.98px) {
  .feedback__desc {
    display: contents;
  }
}
.feedback__text {
  max-width: 350px;
  font-size: 20px;
  line-height: 1.2;
  margin-bottom: 24px;
}
@media screen and (max-width: 1023.98px) {
  .feedback__text {
    margin-bottom: 0;
    font-size: 16px;
  }
}
.feedback__links {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 16px;
}
@media screen and (max-width: 1279.98px) {
  .feedback__links {
    grid-template-columns: 100%;
  }
}
@media screen and (max-width: 1023.98px) {
  .feedback__links {
    order: 10;
    gap: 8px;
  }
}
.feedback__link {
  width: 100%;
}
.feedback__form {
  display: flex;
  flex-direction: column;
  gap: 40px;
  padding: 40px 40px 140px 40px;
  background-color: rgba(255, 247, 241, 0.7490196078);
  backdrop-filter: blur(20px);
  border: 1px solid rgba(250, 250, 250, 0.2);
}
@media screen and (max-width: 1023.98px) {
  .feedback__form {
    padding: 24px;
  }
}
@media screen and (max-width: 767.98px) {
  .feedback__form {
    padding: 20px;
    gap: 24px;
  }
}
.feedback__form-inputs {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
@media screen and (max-width: 767.98px) {
  .feedback__form-inputs {
    gap: 12px;
  }
}
.feedback__form-bottom {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
@media screen and (max-width: 767.98px) {
  .feedback__form-bottom {
    gap: 12px;
  }
}/*# sourceMappingURL=style.css.map */