:root {
  --color-black: #000000;
  --color-white: #ffffff;
  --color-primary: #0b3e26;
  --color-secondary: #2a2f2d;
  --color-alt: #cdc0ad;
  --color-accent: #ff4a04;
  --color-bg: #f9f9f9;
  --color-error: #fc2d2d;
  --font-primary: "Inter", sans-serif;
}

@font-face {
  font-family: "Inter";
  src:
    url("../fonts/Inter-Regular.woff") format("woff"),
    url("../fonts/Inter-Regular.woff2") format("woff2");
  font-style: normal;
  font-weight: 400;
}

@font-face {
  font-family: "Inter";
  src:
    url("../fonts/Inter-Medium.woff") format("woff"),
    url("../fonts/Inter-Medium.woff2") format("woff2");
  font-style: normal;
  font-weight: 500;
}

*,
html {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

ul {
  padding: 0;
  margin: 0;
  list-style: none;
}

a {
  color: unset;
  text-decoration: none;
}

img {
  display: block;
  max-width: 100%;
}

body {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background-color: var(--color-bg);
  font-family: var(--font-primary);
  font-size: 16px;
  line-height: 1.3;
  font-weight: 400;
  color: var(--color-primary);
}

main {
  flex-grow: 1;
}

img {
  max-width: 100%;
}

.container {
  max-width: 1920px;
  width: 100%;
  margin: 0 auto;
  padding: 0 16px;

  @media screen and (max-width: 767.98px) {
    padding: 0 10px;
  }
}

.h1 {
  font-family: var(--font-primary);
  font-size: 45px;
  line-height: 1.11;
  font-weight: 500;
  text-transform: uppercase;

  @media screen and (max-width: 1279.98px) {
    font-size: 40px;
  }

  @media screen and (max-width: 767.98px) {
    font-size: 36px;
  }
}

.h2 {
  font-family: var(--font-primary);
  font-size: 36px;
  line-height: 110%;
  font-weight: 500;

  @media screen and (max-width: 1023.98px) {
    font-size: 32px;
  }

  @media screen and (max-width: 767.98px) {
    font-size: 28px;
  }
}

.caption {
  position: relative;
  padding-left: 20px;
  font-size: 14px;
  line-height: 1.1;
  color: var(--color-secondary);
  text-transform: uppercase;
  opacity: 0.5;

  @media screen and (max-width: 767.98px) {
    font-size: 12px;
  }

  &::before {
    content: "";
    width: 3px;
    height: 3px;
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    border-radius: 50%;
    background-color: currentColor;
  }
}

.section {
  padding: 110px 0;

  + .section {
    padding-top: 0;
  }

  @media screen and (max-width: 1439.98px) {
    padding: 80px 0;
  }

  @media screen and (max-width: 1023.98px) {
    padding: 40px 0;
  }
}

.reset-btn {
  padding: 0;
  border: 0;
  outline: none;
  color: unset;
  background-color: transparent;
}

.btn {
  width: auto;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding: 15px 23px;
  color: var(--color-white);
  background-color: var(--color-accent);
  font-size: 13px;
  line-height: 1.2;
  font-weight: 500;
  text-transform: uppercase;
  border: 1px solid var(--color-accent);
  outline: none;
  cursor: pointer;
  transition:
    background-color 0.25s ease-in-out,
    color 0.25s ease-in-out;
  border-radius: 8px;

  &:hover {
    background-color: var(--color-accent);
    background-color: transparent;
    color: var(--color-accent);
  }

  &_wide {
    width: 100%;
  }

  &_outline {
    background-color: transparent;
    color: var(--color-accent);

    &:hover {
      background-color: var(--color-accent);
      border-color: var(--color-accent);
      color: var(--color-white);
    }
  }

  &_white {
    background-color: var(--color-white);
    color: var(--color-primary);
    border-color: var(--color-white);
  }
}

.form-group {
  position: relative;
  width: 100%;
}

.form-control {
  display: block;
  width: 100%;
  padding: 20px 24px;
  height: 52px;
  font-size: 16px;
  line-height: 1.2;
  color: var(--color-black);
  background-color: #ffffff1a;
  backdrop-filter: blur(10px);
  border: 1px solid var(--color-white);
  border-radius: 40px;
  outline: none;
  user-select: none;
  transition:
    background-color 0.25s ease-in-out,
    border-color 0.25s ease-in-out;

  &:focus,
  &:focus-visible {
    ~ .form-label {
      opacity: 0;
    }
  }

  &:not(:placeholder-shown) {
    ~ .form-label {
      opacity: 0;
    }
  }

  &.is-error {
    border-color: var(--color-error);
  }
}

.header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  padding: 8px 0;
  z-index: 10;

  &__inner {
    padding: 0 24px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 16px;

    @media screen and (max-width: 1199.98px) {
      padding: 0 14px;
    }
  }

  &__logo {
    display: block;
    width: 150px;
  }

  &__nav {
    @media screen and (max-width: 1199.98px) {
      display: none;
    }

    &-list {
      display: flex;
      align-items: center;
      gap: 24px;
    }

    &-link {
      font-size: 13px;
      line-height: 1.2;
      text-transform: uppercase;
    }
  }

  &__contact-us {
    @media screen and (max-width: 1199.98px) {
      margin-left: auto;
    }

    @media screen and (max-width: 767.98px) {
      display: none;
    }
  }

  &__burger {
    display: none;

    @media screen and (max-width: 1199.98px) {
      position: relative;
      display: block;
      width: 50px;
      height: 50px;
      background-color: var(--color-accent);
      border-radius: 8px;

      span {
        position: absolute;
        display: block;
        width: 17px;
        height: 2px;
        position: absolute;
        left: 17px;
        background-color: var(--color-white);

        &:nth-of-type(1) {
          top: 20px;
        }

        &:nth-of-type(2) {
          top: 25px;
        }

        &:nth-of-type(3) {
          top: 30px;
        }
      }
    }

    @media screen and (max-width: 767.98px) {
      background-color: var(--color-white);

      span {
        background-color: var(--color-primary);
      }
    }
  }
}

.hero {
  padding-bottom: 8px;

  &__inner {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 24px;
    background-color: var(--color-white);
    height: 100vh;
    max-height: 870px;
    padding: 110px 24px 24px 24px;
    border-radius: 0 0 24px 24px;
    z-index: 2;
    overflow: hidden;

    @media screen and (max-width: 1023.98px) {
      height: auto;
      max-height: unset;
      padding-bottom: 300px;
    }

    @media screen and (max-width: 767.98px) {
      padding: 105px 14px 14px;
      gap: 0;
    }
  }

  &__bg {
    max-width: 990px;
    width: 50vw;
    position: absolute;
    bottom: 0;
    right: 8px;
    z-index: -1;
    pointer-events: none;

    @media screen and (max-width: 1439.98px) {
      max-width: 60vw;
    }

    @media screen and (max-width: 767.98px) {
      max-width: 700px;
      width: 700px;
      bottom: 0;
      left: 50%;
      transform: translateX(-38%);
    }
  }

  &__img {
    position: absolute;
    top: 200px;
    left: 0;
    max-width: 308px;
    z-index: -1;

    @media screen and (max-width: 1439.98px) {
      max-width: 100px;
    }

    @media screen and (max-width: 1023.98px) {
      display: none;
    }

    @media screen and (max-width: 767.98px) {
      max-width: unset;
      display: block;
      inset: 0 0 auto auto;
    }
  }

  &__top {
    display: flex;
    align-items: flex-start;
    gap: 20px;

    @media screen and (max-width: 1023.98px) {
      display: contents;
    }
  }

  &__benefits {
    max-width: 164px;
    display: flex;
    flex-direction: column;
    gap: 8px;

    @media screen and (max-width: 1023.98px) {
      max-width: 500px;
      flex-direction: row;
    }

    @media screen and (max-width: 767.98px) {
      display: none;
    }
  }

  &__benefit {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    background-color: var(--color-bg);
    padding: 16px;
    min-height: 90px;
    font-size: 12px;
    line-height: 1.25;
    border-radius: 12px;
  }

  &__bottom {
    margin-top: auto;
    display: flex;
    align-items: flex-end;
    gap: 50px;

    @media screen and (max-width: 1439.98px) {
      gap: 24px;
    }

    @media screen and (max-width: 1023.98px) {
      display: contents;
    }
  }

  &__actions {
    display: flex;
    align-items: center;
    gap: 8px;

    @media screen and (max-width: 1023.98px) {
      width: 100%;
      flex-direction: column;
      align-items: flex-start;
    }

    @media screen and (max-width: 767.98px) {
      flex-direction: row;
    }

    @media screen and (max-width: 559.98px) {
      flex-direction: column;
    }

    .btn {
      display: flex;
      align-items: center;
      gap: 8px;

      @media screen and (max-width: 767.98px) {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
      }
    }
  }

  &__contact-btn {
    @media screen and (max-width: 767.98px) {
      background-color: rgba(255, 255, 255, 0.2);
      backdrop-filter: blur(20px);
      border: 1px solid rgba(255, 255, 255, 0.7);
    }
  }

  &__title {
    max-width: 430px;

    @media screen and (max-width: 1023.98px) {
      max-width: 600px;
      order: -1;
    }

    @media screen and (max-width: 767.98px) {
      margin-bottom: 10px;
    }

    span {
      color: var(--color-accent);
    }
  }

  &__desc {
    max-width: 204px;
    font-size: 12px;
    line-height: 1.25;

    @media screen and (max-width: 1023.98px) {
      max-width: 300px;
    }

    @media screen and (max-width: 767.98px) {
      max-width: 240px;
      margin-bottom: 460px;
    }
  }
}

.about-us {
  &__inner {
    padding: 70px 22px;
    background: url("../images/about-us-bg.png") center center / cover no-repeat;
    border-radius: 16px;
    overflow: hidden;

    @media screen and (max-width: 767.98px) {
      padding: 40px 14px 40px;
      background-image: url("../images/about-us-bg-mob.png");
    }
  }

  &__head {
    display: flex;
    justify-content: center;
    margin-bottom: 40px;

    @media screen and (max-width: 767.98px) {
      margin-bottom: 36px;
    }
  }

  &__caption {
    color: rgba(255, 255, 255, 0.7);
  }

  &__benefits {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 16px;

    @media screen and (max-width: 1199.98px) {
      grid-template-columns: repeat(2, 1fr);
      gap: 8px;
    }
  }

  &__benefit {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 19px;
    border: 1px solid rgba(255, 255, 255, 0.3);
    background-color: rgba(249, 249, 249, 0.08);
    backdrop-filter: blur(20px);
    border-radius: 16px;
    color: var(--color-white);
    min-height: 200px;

    @media screen and (max-width: 767.98px) {
      min-height: 144px;
      padding: 13px;
      border-radius: 10px;
    }

    &-title {
      font-size: 15px;
      line-height: 1.2;

      @media screen and (max-width: 767.98px) {
        font-size: 10px;
      }

      span {
        display: block;
        font-size: 48px;
        font-weight: 500;
        margin-bottom: 5px;

        @media screen and (max-width: 767.98px) {
          font-size: 36px;
          margin-bottom: 2px;
        }
      }
    }

    &-desc {
      font-size: 13px;
      line-height: 1.3;
      margin-top: auto;

      @media screen and (max-width: 767.98px) {
        font-size: 12px;
      }
    }
  }
}

.why-us {
  &__head {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 24px;
    margin-bottom: 40px;

    @media screen and (max-width: 767.98px) {
      gap: 14px;
      margin-bottom: 32px;
    }
  }

  &__title {
    text-align: center;
    text-transform: uppercase;

    span {
      color: var(--color-accent);
    }
  }

  &__desc {
    max-width: 750px;
    width: 100%;
    font-size: 16px;
    line-height: 1.34;
    text-align: center;

    @media screen and (max-width: 767.98px) {
      font-size: 14px;
    }
  }

  &__items {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 10px;

    @media screen and (max-width: 1199.98px) {
      grid-template-columns: repeat(3, 1fr);
    }

    @media screen and (max-width: 767.98px) {
      grid-template-columns: repeat(2, 1fr);
      gap: 6px;
    }
  }

  &__item {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
    padding: 15px;
    background-color: var(--color-white);
    border-radius: 12px;

    @media screen and (max-width: 767.98px) {
      display: none;
      padding: 12px;
      gap: 10px;
      border-radius: 10px;

      &:nth-child(-n + 10) {
        display: flex;
      }
    }

    &-icon {
      width: 52px;
      height: 52px;

      @media screen and (max-width: 767.98px) {
        width: 46px;
        height: 46px;
      }
    }

    &-title {
      font-size: 14px;
      text-align: center;

      @media screen and (max-width: 767.98px) {
        font-size: 12px;
      }
    }
  }

  &__show-more {
    display: none;

    @media screen and (max-width: 767.98px) {
      width: 100%;
      display: flex;
      margin-top: 6px;
      background-color: var(--color-white);
      border-radius: 8px;
      padding: 20px 24px;
      font-size: 14px;
      line-height: 1.3;
      text-transform: uppercase;
      font-weight: 500;
    }

    &-cover,
    &-beside {
      width: 100%;
      align-items: center;
      justify-content: space-between;
    }

    &-cover {
      display: flex;
    }

    &-beside {
      display: none;
    }

    &.is-active {
      &-cover {
        display: none;
      }

      &-beside {
        display: flex;
      }
    }
  }
}

.our-life {
  overflow: hidden;

  &__inner {
    position: relative;

    @media screen and (max-width: 1023.98px) {
      display: flex;
      flex-direction: column;
    }
  }

  &__head {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 24px;
    margin-bottom: 40px;
  }

  &__title {
    text-transform: uppercase;
    text-align: center;
  }

  &__img {
    display: block;
    width: 100%;

    img {
      display: block;
      width: 100%;
      border-radius: 16px;
    }
  }

  &__slider-nav {
    position: absolute;
    top: 40px;
    right: 0;

    @media screen and (max-width: 1023.98px) {
      position: static;
      order: 99;
      margin-top: 10px;

      .slider-nav-fraction {
        order: -1;
      }
      .slider-nav-prev {
        margin-left: auto;
      }
    }
  }
}

.vacancies {
  &__head {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 24px;
    margin-bottom: 40px;
  }

  &__title {
    max-width: 950px;
    margin: 0 auto;
    text-transform: uppercase;
    text-align: center;

    span {
      color: var(--color-accent);
    }
  }

  &__desc {
    max-width: 422px;
    text-align: center;

    a {
      color: var(--color-accent);
      border-bottom: 1px solid currentColor;
      font-weight: 500;
    }
  }

  &__tabs {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    margin-bottom: 24px;

    @media screen and (max-width: 1023.98px) {
      justify-content: flex-start;
      gap: 8px;
      width: calc(100% + 28px);
      margin: 0 -14px 14px -14px;
      padding: 0 14px;
      overflow-x: auto;

      &::-webkit-scrollbar {
        display: none;
      }
    }

    &-btn {
      display: inline-flex;
      align-items: center;
      gap: 4px;
      padding: 16px 22px 16px 30px;
      background-color: var(--color-white);
      font-size: 14px;
      line-height: 1.3;
      font-weight: 500;
      text-transform: uppercase;
      border-radius: 8px;
      flex-shrink: 0;
      cursor: pointer;

      &.is-active {
        background-color: var(--color-accent);
        color: var(--color-white);
      }
    }
  }

  &__block {
    display: none;

    &.is-active {
      display: block;
    }
  }

  &__list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;

    @media screen and (max-width: 1023.98px) {
      grid-template-columns: repeat(2, 1fr);
    }

    @media screen and (max-width: 767.98px) {
      grid-template-columns: 100%;
      gap: 6px;
    }
  }

  &__item {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 24px;
    background-color: var(--color-white);
    border-radius: 12px;

    @media screen and (max-width: 767.98px) {
      padding: 16px;
    }

    &-title {
      font-size: 18px;
      line-height: 1.3;
      font-weight: 500;
      text-transform: uppercase;
      margin-bottom: 16px;
    }

    &-desc {
      font-size: 14px;
      color: #0b3e2699;
      margin-bottom: 20px;

      @media screen and (max-width: 767.98px) {
        width: 100%;
        padding-bottom: 16px;
        margin-bottom: 16px;
        border-bottom: 1px solid #0b3e260f;
      }

      span {
        display: block;
        margin-top: 6px;
      }
    }

    &-link {
      font-size: 14px;
      line-height: 1.1;
      text-transform: uppercase;
      font-weight: 500;
      margin-top: auto;
      transition: color 0.25s ease-in-out;

      @media (any-hover: hover) {
        &:hover {
          color: var(--color-accent);
        }
      }
    }
  }
}

.bnr {
  &__inner {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    padding: 94px 24px;
    border-radius: 24px;
    color: var(--color-white);
    overflow: hidden;
    background: url("../../images/bnr/bnr.png") center center / cover no-repeat;

    @media screen and (max-width: 767.98px) {
      padding: 60px 16px 16px;
      border-radius: 16px;
    }
  }

  &__title {
    max-width: 960px;
    text-align: center;
    text-transform: uppercase;
    margin-bottom: 24px;

    @media screen and (max-width: 767.98px) {
      margin-bottom: 12px;
    }
  }

  &__desc {
    max-width: 340px;
    text-align: center;
    font-size: 16px;
    line-height: 1.3;
    margin-bottom: 80px;

    @media screen and (max-width: 767.98px) {
      max-width: 280px;
      margin-bottom: 88px;
      font-size: 14px;
    }
  }

  &__btn {
    @media screen and (max-width: 767.98px) {
      width: 100%;
    }
  }
}

.cta {
  padding: 140px 0 270px;
  background: url("../../images/cta/bg.png") center top / 1880px no-repeat;

  @media screen and (max-width: 1023.98px) {
    padding: 100px 0 140px;
    background: url("../../images/cta/bg.png") center top / 1200px no-repeat;
  }

  @media screen and (max-width: 767.98px) {
    padding: 75px 0 90px;
    background: url("../../images/cta/bg-mob.png") center top -150px / 780px
      no-repeat;
  }

  &__inner {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &__logo {
    max-width: 266px;
    display: block;
    margin-bottom: 54px;

    @media screen and (max-width: 767.98px) {
      max-width: 212px;
      margin-bottom: 36px;
    }
  }

  &__head {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 24px;
    margin-bottom: 32px;

    @media screen and (max-width: 767.98px) {
      gap: 12px;
    }
  }

  &__title {
    max-width: 1080px;
    text-align: center;
    text-transform: uppercase;
  }

  &__link {
    font-size: 16px;
    line-height: 1.3;
    font-weight: 500;
    color: var(--color-accent);
  }

  &__btn {
    @media screen and (max-width: 767.98px) {
      width: 100%;
      justify-content: space-between;
    }
  }
}

.employee {
  &__head {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 24px;
    margin-bottom: 40px;

    @media screen and (max-width: 767.98px) {
      gap: 14px;
      margin-bottom: 32px;
    }
  }

  &__title {
    max-width: 640px;
    text-align: center;
    text-transform: uppercase;

    span {
      color: var(--color-accent);
    }
  }

  &__desc {
    max-width: 640px;
    font-size: 16px;
    line-height: 1.3;
    text-align: center;
  }

  &__list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;

    @media screen and (max-width: 767.98px) {
      grid-template-columns: 100%;
    }
  }

  &__item {
    border-radius: 16px;
    overflow: hidden;
    background-color: var(--color-white);

    @media screen and (max-width: 767.98px) {
      padding: 12px;
    }

    &-img {
      display: flex;
      align-items: flex-end;
      justify-content: center;

      @media screen and (max-width: 767.98px) {
        width: 100%;
        height: 420px;
        border-radius: 12px;
        background: linear-gradient(180deg, #f9f9f9 0%, #f3f3f3 100%);

        img {
          display: block;
          object-fit: cover;
          width: 100%;
          height: 100%;
          object-position: top;
        }
      }
    }

    &-cover {
      position: relative;
      width: 100%;
    }

    &-more-info {
      position: absolute;
      bottom: 30px;
      left: 30px;

      @media screen and (max-width: 767.98px) {
        display: none;
      }
    }

    &-details {
      display: none;
    }

    &-head {
      display: none;

      @media screen and (max-width: 767.98px) {
        display: block;
        margin-top: 16px;
      }

      &-title {
        font-size: 20px;
        line-height: 1.3;
        text-transform: uppercase;
        font-weight: 500;
        margin-bottom: 4px;
      }

      &-post {
        font-size: 14px;
        opacity: 0.6;
        margin-bottom: 16px;
      }

      &-desc {
        padding: 6px 12px 6px 10px;
        margin-bottom: 16px;
        font-size: 14px;
        line-height: 1.2;
        font-weight: 500;
        font-style: italic;
        border-left: 2px solid var(--color-accent);
      }

      &-btn {
        justify-content: space-between;
      }
    }
  }

  &__blocks {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
    margin-top: 10px;

    @media screen and (max-width: 767.98px) {
      grid-template-columns: 100%;
      gap: 16px;
      padding: 12px;
      background-color: var(--color-white);
      border-radius: 16px;
    }
  }

  &__block {
    padding: 30px;
    background-color: var(--color-white);
    border-radius: 16px;

    @media screen and (max-width: 767.98px) {
      border-radius: 0;
      padding: 0;
    }

    &-title {
      font-size: 32px;
      line-height: 1.2;
      font-weight: 500;
      text-transform: uppercase;

      @media screen and (max-width: 767.98px) {
        font-size: 24px;
      }

      span {
        color: var(--color-accent);
      }
    }

    &-subtitle {
      font-size: 22px;
      line-height: 1.5;
      font-weight: 500;
      text-transform: uppercase;
      margin-bottom: 32px;

      @media screen and (max-width: 767.98px) {
        font-size: 16px;
        margin-bottom: 24px;
      }
    }

    &-btn {
      @media screen and (max-width: 767.98px) {
        width: 100%;
        justify-content: space-between;
      }
    }
  }
}

.footer {
  &__inner {
    padding: 24px 30px;
    background: url("../../images/footer-bg.png") center center / cover
      no-repeat;
    border-radius: 16px 16px 0 0;
    color: var(--color-white);

    @media screen and (max-width: 767.98px) {
      padding: 24px 20px 20px;
      background-image: url("../../images/footer-bg-mob.png");
    }
  }

  &__main {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    gap: 24px;

    @media screen and (max-width: 1279.98px) {
      flex-wrap: wrap;
    }

    @media screen and (max-width: 767.98px) {
      flex-direction: column;
      gap: 0;
    }
  }

  &__company {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 20px;

    @media screen and (max-width: 767.98px) {
      width: 100%;
      gap: 16px;
      margin-bottom: 32px;
    }
  }

  &__desc {
    max-width: 210px;
    font-size: 14px;

    a {
      text-decoration: underline;
    }
  }

  &__logo {
    display: block;
    width: 200px;
  }

  &__nav {
    padding-top: 24px;

    @media screen and (max-width: 1279.98px) {
      width: 100%;
      order: 99;
    }

    @media screen and (max-width: 767.98px) {
      padding-bottom: 24px;
      margin-bottom: 24px;
      padding-top: 0;
      border-bottom: 1px solid rgba(255, 255, 255, 0.3);
    }

    &-list {
      display: flex;
      align-items: center;
      gap: 24px;

      @media screen and (max-width: 767.98px) {
        display: block;
        column-count: 2;
      }
    }

    &-link {
      font-size: 14px;
      text-transform: uppercase;
    }

    &-item {
      @media screen and (max-width: 767.98px) {
        margin-bottom: 10px;
      }
    }
  }

  &__contacts {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    gap: 24px;
    padding-top: 24px;

    @media screen and (max-width: 767.98px) {
      width: 100%;
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      gap: 30px;
      padding-top: 0;
      padding-bottom: 24px;
      margin-bottom: 24px;
      border-bottom: 1px solid rgba(255, 255, 255, 0.3);
    }
  }

  &__contact {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    gap: 4px;

    @media screen and (max-width: 767.98px) {
      align-items: flex-start;
    }

    &-label {
      font-size: 12px;
      opacity: 0.5;
    }

    &-link {
      font-size: 16px;

      @media screen and (max-width: 767.98px) {
        font-size: 14px;
      }
    }
  }

  &__bottom {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 16px;
    margin-top: 100px;

    @media screen and (max-width: 1279.98px) {
      flex-wrap: wrap;
    }

    @media screen and (max-width: 767.98px) {
      flex-direction: column;
      align-items: flex-start;
      gap: 0;
      margin-top: 0;
    }
  }

  &__links {
    display: flex;
    align-items: center;
    gap: 8px;
    flex-wrap: wrap;
    @media screen and (max-width: 1279.98px) {
      width: 100%;
      order: 99;
    }

    @media screen and (max-width: 767.98px) {
      order: -1;
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      gap: 30px;
      padding-bottom: 24px;
      margin-bottom: 24px;
      border-bottom: 1px solid rgba(255, 255, 255, 0.3);
    }
  }

  &__link {
    font-size: 14px;
    opacity: 0.6;

    &:not(:last-child) {
      &::after {
        content: "|";
        padding-left: 8px;

        @media screen and (max-width: 767.98px) {
          display: none;
        }
      }
    }
  }

  &__copyright,
  &__developr {
    font-size: 14px;
  }

  &__developer {
    @media screen and (max-width: 767.98px) {
      opacity: 0.6;
      margin-top: 4px;
    }
  }
}
